mixin video(video)
    div.video-mixin
        div.video-mixin__row
            div.video-mixin__info
                div
                    img(src=video.owner.avatar)
                    a(href=`/users/${video.owner._id}`)=video.owner.username
                div 
                    small=video.hashtags
                    h1=video.title
                    span views #{video.views} • 
                    span=video.createdAt
            if String(video.owner._id) === String(loggedInUser._id)
                div.video-mixin__link
                    a(href=`/videos/${video.id}/edit`)
                        span Edit
                    a(href=`/videos/${video.id}/delete`)   
                        span Delete
        div.video-mixin__row
        video(src="/"+video.fileUrl, controls,  data-videoId=video._id)
        div.video-mixin__row
            p=video.description
        hr    
        if loggedIn
            div.video-mixin__row.video__add__comments
                form.commentFrom(data-videoId=video._id)
                    textarea(placeholder="Add a comment...")
                    input.video__comments-button(type="submit", value="COMMENT")
        div.video-mixin__row.video__comments
            ul
                each comment in video.comments.reverse()
                    li.video__comment
                        div.video__comment__column
                            img(src=comment.avatar)
                            div.comment__info
                                h3=comment.username
                                p=comment.text
                        if String(comment.owner) === String(loggedInUser._id)        
                            div.video__comment__column
                                a(href=`/api/comments/${comment._id}/delete`) Delete