mixin video(video)
    video(src="/"+video.fileUrl, controls, width=750)
    div 
        h3=video.title
        div
            span views #{video.meta.views}
            span likes #{video.meta.favs}
    div    
        h4=video.description
        p=String(video.createdAt).slice(4,15)
        small=video.hashtags
        small=video.owner.name
        hr