extends base
include ./mixins/video
block routes
    div.main__content
        div.video__content
            div.profile__content__title
                h1=pageTitle
                if String(user._id) === String(loggedInUser._id)
                    a(href="/users/edit") 
                        span Edit Profile &rarr;
            if user.videos.length > 0
                div.profile__videos
                    each video in user.videos
                        div.profile__video
                            div.profile__video__title
                                h1=video.title
                                if String(user._id) === String(loggedInUser._id)
                                    div.profile__video__link
                                        a(href=`/videos/${video.id}/edit`)
                                            span Edit 
                                        a(href=`/videos/${video.id}/delete`)   
                                            span Delete
                            video(src=video.fileUrl ,controls, width=300)          
            else
                h2 There's no video
block scripts 
    script(src="/static/js/videoPlayer.js")